# Setup
/*
!/.config/
/.config/*

# Git stuff
!/.gitignore

# Configs
!/.bashrc

!/.config/kitty

!/.config/gtk-3.0/
/.config/gtk-3.0/bookmarks

!/.config/rofi/
!/.config/xmobar/

!/.config/xmonad/
/.config/xmonad/*
!/.config/xmonad/xmonad.hs

!/.config/nvim/
/.config/nvim/lazy-lock.json

!/.vim/
/.vim/.netrwhist
/.vim/plugged

# Others
!/backgrounds/

